body {
    background-color: #f8f9fa;
}

.imagem-principal {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.detalhe-imagem {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    object-fit: cover;
}

.container h1 {
    color: #343a40;
    margin-bottom: 30px;
    text-align: center;
}